.pace .pace-progress {background: #2090fe;}
.bigIcon,.socialList li a:hover{color: #2090fe;}
.btn-new,.downloadNumber{background: #2090fe}
.btn-new:hover,.btn-new:focus{background: #1c79d4}
#share{background-color: #2090fe;}
